frontend/node_modules
frontend/.next
frontend/out
node_modules
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/
frontend/.next
frontend/prisma/seed.ts

/frontend/node_modules
/frontend/.next
/frontend/out
/node_modules
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/
/frontend/.next
/frontend/prisma/seed.ts
