.grid {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.image {
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

